.title{
    font-size: 20px;
    font-weight: 800;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reports-filter-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.reports-filter-container .filter-icon {
    padding: 5px;
    border: 1px solid #B9BABC;
    border-radius: 4px;
}
.main-content-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.main-content-title h1{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.main-content-title .main-content-left{
    display: flex;
    flex-direction: column;
}
.main-content-innerwrapper{
    display: flex;
    gap: 15px;
}
.main-content-right{
    display: flex;
    gap: 10px;
}
.main-content-right span{
    padding: 5px;
    border: 1px solid #B9BABC;
    border-radius: 4px;
}