/*@tailwind base;*/

/**
 * Custom base styles
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
* {
    /* Text rendering */
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.bg-inherita {
    background-color: inherit !important;
    border-bottom: none !important
}

* :focus {
    outline: none !important;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto';
    background-color: #121212;
}

body {
    font-size: 14px;
    line-height: 1.4;
    overflow-x: hidden;
    font-feature-settings: "salt";
}

html,
body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

html,
body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    min-height: 100%;
    width: 100%;
    flex: 1 1 auto;
}

#root {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.apexcharts-legend {
    display: none !important;
}
.minH{
    min-height: 465px;
}

.progress,
.progress-stacked {
    --bs-progress-bg: 'none' !important
}

h1,
.h1 {
    font-size: 24px;
}

h2,
.h2 {
    font-size: 20px;
}

h3,
.h3 {
    font-size: 16px;
}

h4,
.h4 {
    font-size: 15px;
}

h5,
.h5 {
    font-size: 13px;
}

h6,
.h6 {
    font-size: 12px;
}

.ps>.ps__rail-y,
.ps>.ps__rail-x {
    z-index: 99;
}

a[role=button] {
    text-decoration: none;
}

[role="tooltip"] {
    z-index: 9999;
}

/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0.06);
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:active {
        border-radius: 20px;
    }
}

form label {
    z-index: 99;
}

body.no-animate *,
body.no-animate *::before,
body.no-animate *::after {
    transition: none !important;
    animation: none !important;
}

button:focus {
    outline: none;
}

/* Removes webkit's autofill backgorund color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transitionDelay: 9999s;
    transitionProperty: background-color, color;
}

:focus {
    outline-color: transparent;
}

/*fullcalendar Fix*/
.fc-scrollgrid-section-liquid {
    height: 1px !important;
}

.datetxt {
    margin-top: -10px;
}

.reviewContainer {
    margin-left: 75px;
}

.mobileVideo {
    width: '20%' !important;
    height: 20% !important;
}


@media only screen and (max-width: 600px) {
    .thumbsContainer {
        margin-left: 15px;

    }

    .addMargin {
        margin-top: -25px
    }

    .addMargin1 {
        margin-top: -25px
    }

    .addMargin2 {
        margin-top: -25px
    }

    .addMargin3 {
        margin-top: -25px
    }

    .videoWidth {
        height: 29px;
        width: 39px
    }

    .locationIconMobile {
        top: 20%;
        margin: 5px;
    }

    .locationIconMobile1 {
        top: 56%;
        margin-left: 10px;
    }

    .reviewText {
        margin-top: 35px;
    }

    .reviewContainer {
        margin-left: 5px;
    }

    .mobileVideo {
        width: 80% !important;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {}